* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'open sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url(bg1.jpg);
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover {
    color: blueviolet;
}

header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggleBtn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.actionBtn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.actionBtn:hover {
    scale: 1.05;
    color: #fff;
}

.actionBtn:active {
    scale: 0.95;
}

.dropdownMenu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}

.dropdownMenu.open {
    height: 240px;
}

.dropdownMenu li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.7rem;
}

.dropdownMenu .actionBtn {
width: 100%;
text-align: center;
}

@media(max-width: 992px) {
    .navbar .links,
    .navbar .actionBtn {
        display: none;
    }
    .navbar .toggleBtn {
        display: block;
    }

    .dropdownMenu {
        display:block;
    }
}